<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    pokemon.name <br>
    <img src="<%=pokemon.img%>"> <br>

    <form action="/pokemon/<%=pokeId%>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%=pokemon.name%>">
        <input type="text" name="img">
        <button type="submit">Change Name and Image.</button>
    </form>

</body>
</html>